################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/obj
/obj/Docker
/Api/bin/Debug/net9.0
*.json
/bin/Debug
/Common/bin/Debug/net9.0
/Common/obj/Debug/net9.0/refint
/Infrastructure/bin/Debug/net9.0
/obj/Debug
/Common/obj/Debug/net9.0
/Common/obj
/Infrastructure/obj
/Modules/bin/Debug/net9.0
/Modules/obj
